
/* Resets
--------------------------------------------------------------------------------*/

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

fieldset {
	border: 0;
}

a img {
	border: 0;
}

.clear {
	clear: both;
	font-size: 0;
	height: 0;
}

a {
	color: #286ea0;
	text-decoration: none;
}

a:hover {
	color: #488ec0;
	text-decoration: none;
}

/* General Styling and Structure
--------------------------------------------------------------------------------*/

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #303030;
	margin: 0;
	padding: 0 0 30px;
	background: url(body-bg.png);
}

p {
	line-height: 1.5;
	padding: .5em 0;
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
}

h1 {
	font-size: 24px;
	line-height: 1;
	font-weight: normal;
}

h2,
h3 {
	font-size: 19px;
	line-height: 1.2;
	padding: .3em 0;
}

h3 {
}

h4 {
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 5px;
}

#container {
	width: 760px;
	margin: 0 auto;
}

#logo,
#logo a {
	font-size: 40px;
	line-height: 1;
	font-weight: bold;
	color: #505050;
	text-decoration: none;
	text-transform: capitalize;
}

/* Navigation
--------------------------------------------------------------------------------*/

#navigation {
	float: left;
	width: 185px;
	padding: 7px 0 0;
	line-height: 1;
}

#navigation ul {
}

#navigation li {
	position: relative;
}

#navigation li a {
	display: block;
	color: #286ea0;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 17px;
	border: 1px solid #fff;
	border-right: 0;
}

#navigation li:hover a,
#navigation li#active a {
	background: #f6f6f6;
	border-color: #d8d8d8;
}

/* Navigation Drop-Down Menu Customization
--------------------------------------------------------------------------------*/

#weebly-menus .weebly-menu li:first-child {
	border-top: 1px solid #ccc;
}

#wsite-menus .wsite-menu li a {
	padding: 6px 16px;
	color: #286ea0;
	background: #f6f6f6;
	border: 1px solid #ccc;
	border-top: none;
}

#wsite-menus .wsite-menu li a:hover {
	color: #505050;
	background: #e9e9e9;
}

/* Header Area
-------------------------------------------------------------*/

#header {
	width: 100%;
	height: 100px;
}

#header,
#header table {
	border-collapse: collapse;
	border-spacing: 0;
}

#header td {
	vertical-align: middle;
	text-align: left;
}

#logo {
	padding: 25px 0 25px 20px;
}

#header-right {
	padding: 0 20px 0 10px;
}

#header-right table {
	width: 1px;
}

#header-right table,
#header-right .search,
#header-right .wsite-search {
	clear: right;
	float: right;
}

#header-right td {
	padding: 0;
}

/* TOP RIGHT: Phone Number
--------------------------------------------------------------------------------*/

#header-right .phone-number .wsite-text {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	text-align: right;
	font-size: 13px;
	font-weight: bold;
	display: block;
	white-space: nowrap;
	margin: 5px 0 5px 15px;
}

/* TOP RIGHT: Content Area
--------------------------------------------------------------------------------*/

#header-right .wsite-social {
	vertical-align: middle;
	margin: 5px 0 5px 10px;
}

.wsite-social-item {  /* a */
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 0 0 3px;
	vertical-align: middle;
	cursor: pointer;
	font-size: 0;
}

.wsite-social-item span {
	display: none;
}

.wsite-social-rss {
	background: transparent url(rss-h.png) no-repeat;
}

.wsite-social-linkedin {
	background: transparent url(linkedin-h.png) no-repeat;
}

.wsite-social-facebook {
	background: transparent url(facebook-h.png) no-repeat;
}

.wsite-social-twitter {
	background: transparent url(twitter-h.png) no-repeat;
}

/* TOP RIGHT: Search Box
--------------------------------------------------------------------------------*/

#header .wsite-search {
	display: inline-block;
	width: 200px;
	height: 26px;
	background: transparent url(searchForm-bg.png) no-repeat;
	margin: 5px 0 5px 15px;
}

#header .wsite-search-input {
	vertical-align: top;
	border: 0;
	background: none;
	padding: 7px 8px 5px 10px !important;
	width: 152px;
	height: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #505050;
	font-size: 12px;
}

#header .wsite-search-button {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	font-size: 0;
	border: 0;
	margin: 0;
	padding: 0;
	width: 25px;
	height: 25px;
	background: none;
}

/* Footer
--------------------------------------------------------------------------------*/

#footer-wrap {
}

#footer {
	padding: 15px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #505050;
	text-align: right;
}

#footer .wsite-social {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

#footer .wsite-social-item {
	width: 18px;
	height: 18px;
	margin: 0 1px 0 0;
}

#footer .wsite-social-rss {
	background: transparent url(rss.png) no-repeat;
}

#footer .wsite-social-linkedin {
	background: transparent url(linkedin.png) no-repeat;
}

#footer .wsite-social-facebook {
	background: transparent url(facebook.png) no-repeat;
}

#footer .wsite-social-twitter {
	background: transparent url(twitter.png) no-repeat;
}

.rights {
	vertical-align: middle;
}

.wsite-footer {  /* make sure enough space between element footer and attribution */  /*    margin-bottom: 15px; */
}

/* main contents styles
--------------------------------------------------------------------------------*/

#main-wrap {
}

#main {
	border: 20px solid #505050;
	background: #fff;
	padding: 3px;
}

#banner {
	margin: 0 0 10px;
}

.wsite-header {
}

#content {
	float: right;
	width: 500px;
	padding: 5px 8px 20px 20px;
	border-left: 1px solid #d8d8d8;
	min-height: 350px;
}

/* PAGE TYPE: tall-header
--------------------------------------------------------------------------------*/

.tall-header-page .wsite-header {  /* the user-editable image */
	height: 239px;
	background: url(banner-tall.jpg) no-repeat;
}

/* PAGE TYPE: short-header
--------------------------------------------------------------------------------*/

.short-header-page {
}

.short-header-page .wsite-header {  /* the user-editable image */
	height: 149px;
	background: url(banner-short.jpg) no-repeat;
}

/* PAGE TYPE: no-header
--------------------------------------------------------------------------------*/

.no-header-page #main {
	padding-top: 10px;
}

.no-header-page #banner {
	display: none;
}

/* PAGE TYPE: landing
--------------------------------------------------------------------------------*/

.landing-page #banner {
}

#banner-inner {
}

#banner-left {
	float: left;
	width: 436px;
}

#banner-left .wsite-header {  /* the user-editable image */
	height: 299px;
	background: url(banner-landing.jpg) no-repeat;
}

#banner-right {
	float: left;
	width: 236px;
	height: 230px;
	padding: 47px 20px 20px;
	border: 1px solid #d8d8d8;
	background: #f6f6f6;
}

#banner-right h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

#banner-right p {
	font-size: 13px;
	line-height: 17px;
	margin-bottom: 25px;
}

/* PAGE TYPE: splash
--------------------------------------------------------------------------------*/

.splash-page .wsite-header {  /* the user-editable image */
	height: 149px;
	background: url(banner-splash.jpg) no-repeat;
}

.splash-page #container {
	width: 580px;
}

.splash-page #navigation {
	display: none;
}

.splash-page .search,
.splash-page .social,
.splash-page .phone-number {
	display: none;
}

.splash-page #content {
	float: none;
	width: auto;
	border: 0;
	height: auto !important;
	min-height: 300px;
	padding: 8px 10px 20px;
}

.splash-page #footer .wsite-social {
	display: none;
}

/* Form Customization
--------------------------------------------------------------------------------*/

.wsite-form-label {
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	padding: 10px 0 2px;
}

.form-radio-container {
}

.wsite-form-input {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #303030;
	height: 13px;
	background: #fff url(field.png) repeat-x;
	border: 1px solid #d2d2d2;
	padding: 9px 5px 6px 5px !important;
	line-height: 1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.form-select {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #303030;
	background: #fff url(field.png) repeat-x;
	border: 1px solid #d2d2d2;
	padding: 3px;
	height: 30px;
	line-height: 16px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* Buttons
--------------------------------------------------------------------------------*/

/*
  Buttons are styled with background image sprites. There are 4 unique image files:
   - small & normal-colored  (button_small_grey.png)
   - large & normal-colored  (button_large_grey.png)
   - small & highlight-colored  (button_small_orange.png)
   - large & highlight-colored  (button_large_orange.png)

  Each of these 4 types of buttons must define a :hover state (when user's mouse is over)
  as well as an :active state (when the user presses down).

  Look at the CSS (especially the inner .wsite-button-inner wrapper), as well as the
  image files to understand how the liquid-width nature of these buttons work.
 */

/* small */

.wsite-button {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff !important;
	height: 34px;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	font-weight: bold;
	text-decoration: none;
	padding: 0 10px 0 0;
	background: url(button.png) no-repeat 100% -105px;
}

.wsite-button:hover {
	background-position: 100% -140px;
}

.wsite-button:active {
	background-position: 100% -175px;
}

.wsite-button-inner {
	height: 34px;
	line-height: 34px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	border: none;
	text-decoration: none;
	padding: 0 10px 0 20px;
	background: url(button.png) no-repeat 0 0;
}

.wsite-button:hover .wsite-button-inner {
	background-position: 0 -35px;
}

.wsite-button:active .wsite-button-inner {
	background-position: 0 -70px;
}

/* large */

.wsite-button-large {
	height: 41px;
	background: url(button_large.png) no-repeat 100% -126px;
	padding: 0 10px 0 0;
}

.wsite-button-large:hover {
	background-position: 100% -168px;
}

.wsite-button-large:active {
	background-position: 100% -210px;
}

.wsite-button-large .wsite-button-inner {
	height: 41px;
	line-height: 41px;
	padding: 0 10px 0 20px;
	background: url(button_large.png) no-repeat 0 0;
}

.wsite-button-large:hover .wsite-button-inner {
	background-position: 0 -42px;
}

.wsite-button-large:active .wsite-button-inner {
	background-position: 0 -84px;
}

/* highlight */

/*
Making the highlighted versions of the buttons is easy because we just need
to switch out the background images. This works because the different button
states (normal, :hover, :active) have their sprite coordinates in the same places.
*/

.wsite-button-large.wsite-button-highlight {
	background-image: url(button_large_highlight.png);
}

.wsite-button-large.wsite-button-highlight .wsite-button-inner {
	background-image: url(button_large_highlight.png);
}

.wsite-button-highlight {
	color: #fff !important;
	background-image: url(button_highlight.png);
}

.wsite-button-highlight .wsite-button-inner {
	background-image: url(button_highlight.png);
}
